.natureBridge {
    display: flex;
    flex-direction: column;
    width: 100%;
    .titleTop {
        height: 0.6667rem;
        background: #ffff;
        text-align: center;
        line-height: 0.6667rem;
        .titleTopLeft {
            float: left;
            font-size: 0.4rem;
        }
        h2 {
            display: inline-block;
            margin: 0 auto;
            width: 70%;
        }
        .titleTopClose {
            float: right;
            font-size: 0.4rem;
        }
        h2 {
            font-weight: normal;
            font-size: 0.24rem;
        }
    }
    .imgbox {
        height: 7.6667rem;
        img {
            display: block;
            width: 100%;
        }
    }
    .natureBridge-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #FEC03B;
        ul {
            width: 100%;
            li {
                float: left;
                width: 48%;
                height: 4.6667rem;
                background: #ffff;
                margin-bottom: 0.1333rem;
                margin-top: 0.1333rem;
                text-align: center;
                img {
                    display: block;
                    height: 2.4667rem;
                }
                .title {
                    color: #333;
                    font-size: 0.1867rem;
                    line-height: 0.2667rem;
                }
                .curprice {
                    color: #ff4400;
                    font-size: 0.24rem;
                    line-height: 0.5333rem;
                }
                .oriprice {
                    color: #999;
                    font-size: 0.16rem;
                    line-height: 0.4rem;
                    text-decoration: line-through;
                }
                .buy {
                    display: block;
                    width: 1.96rem;
                    height: 0.4667rem;
                    background: #ff4400;
                    margin: auto;
                    line-height: 0.4667rem;
                    color: #ffff;
                    font-size: 0.1867rem;
                    border-radius: 0.0667rem;
                }
            }
            li:nth-child(n) {
                margin-right: 0.1rem
            }
        }
    }
}