.petalliance{
    display: flex;
    flex-direction: column;
    width: 100%;
    .petallianceTop{
        height: 3.9333rem;
        position: relative;
        img{
            display: block;
            width: 100%;
        }
        .left{
            display: inline-block;
            position: absolute;
            top: 0;
            width: 0.2667rem;
            height: 0.2667rem;
            font-size: 0.3333rem;
        }
        h3{
            display: inline-block;
            position: absolute;
            top: 0;
            margin: 0 40%;
            padding-top: 0.0667rem;
            color: #6fc8b0;
            font-weight: normal;
        }
        .haha{
            width: 100%;
            height: 0.8933rem;
            position: absolute;
            bottom: 0;
            padding: 0 0.2rem;
            background: #fff;
            border-radius: 0.1333rem;
            padding-top: 0.2rem;
            div{
                display: inline-block;
                width: 50%;
                img{
                    display: block;
                    width: 0.6667rem;
                    height: 0.2667rem;
                    margin: auto;
                }
                p{
                    text-align: center;
                    font-size: 0.2667rem;
                }
            }
            div:first-child{
                border-right: 1px solid #6fc8b0;
            }
        }
    }
    .petalliance-main{
        width: 100%;
        ul{
            width: 100%;
            margin-top: 0.1333rem;
            li{
                height: 5.2rem;
                background: #fff;
                .name{
                    font-size: 0.2133rem;
                    line-height: 0.6667rem;
                    padding-left: 0.2667rem;
                }
                .other{
                    padding-left: 0.2667rem;
                    padding-right: 0.2667rem;
                    
                    .profession {
                        display: inline-block;
                        width: 0.9333rem;
                        height: 0.2667rem;
                        background: rgb(228, 249, 227);
                        color: rgb(111, 200, 176);
                        font-size: 0.16rem;
                        line-height: 0.2667rem;
                        text-align: center;
                        border-radius: 0.0667rem;
                    }
                    .dog{
                        display: inline-block;
                        float: right;
                    }
                    img{
                        display: block;
                         width: 100%;
                         margin-top: 0.1333rem;
                         margin-bottom: 0.1333rem;
                    }
                    .introduce{
                        font-size: 0.1867rem;
                        p{
                            display: block;
                            width: 100%;
                            font-size: 0.2133rem;
                        }
                    }
                }
            }
        }
    }
}