/*==========样式重置===========*/
html,body{
    width:100%;
    height:100%;
}
body,h1,h2,h3,h4,p,a,input,img,ul,li,ol,dl,dt,dd{
    padding:0;
    margin:0;}
ul,ol{
    list-style:none;}
img{
    display:block;
    border:0;}
input{
    outline:none;}
header,footer,section,main,nav{
    display:block;}
body{
    // font-size:12px;
    font-size:0.24rem;
    font-family:"微软雅黑";
    color:#3e3e3e;}
a{
    text-decoration:none;
    // color:#0dc441;
}
a:hover{
    text-decoration:none;
    // color:#0dc441;
}
*{box-sizing:border-box;}

#app{
    width:100%;
    height: 100%;
}


@font-face {font-family: "iconfont";
  src: url('../assets/iconfont/iconfont.eot?t=1517396928098'); /* IE9*/
  src: url('../assets/iconfont/iconfont.eot?t=1517396928098#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/iconfont/iconfont.ttf?t=1517396928098') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/iconfont/iconfont.svg?t=1517396928098#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiliao:before { content: "\e64d"; }

.icon-liwu:before { content: "\e657"; }

.icon-all:before { content: "\e696"; }

.icon-back:before { content: "\e697"; }

.icon-cart:before { content: "\e698"; }

.icon-close:before { content: "\e69a"; }

.icon-delete:before { content: "\e69d"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-qrcode:before { content: "\e6a9"; }

.icon-set:before { content: "\e6ae"; }

.icon-viewgallery:before { content: "\e6b4"; }

.icon-viewlist:before { content: "\e6b5"; }

.icon-toys:before { content: "\e6e1"; }

.icon-link:before { content: "\e6f7"; }

.icon-pingjia:before { content: "\e61e"; }

.icon-gutou2:before { content: "\e635"; }

.icon-bad:before { content: "\e716"; }

.icon-good:before { content: "\e717"; }

.icon-ui:before { content: "\e600"; }

.icon-lvxingwaichu:before { content: "\e601"; }

.icon-yiliaomedical44:before { content: "\e659"; }

.icon-yaopingmp:before { content: "\e61a"; }

.icon-favoritesfilling:before { content: "\e730"; }

.icon-fenlei:before { content: "\e67b"; }

.icon-qianbao:before { content: "\e60b"; }

.icon-huangguan:before { content: "\e620"; }

.icon-majiazhuanhuan:before { content: "\e67c"; }

.icon-liwu1:before { content: "\e611"; }

.icon-gutou:before { content: "\e648"; }

.icon-yiliaomedical14:before { content: "\e8a3"; }

.icon-guojijipiao:before { content: "\e653"; }

.icon-fangzi01-copy:before { content: "\e63e"; }

.icon-gouxiao1:before { content: "\e6dd"; }

.icon-evaluate:before { content: "\e61d"; }

.icon-weibiaoti2fuzhi06:before { content: "\e614"; }

.icon-linedesign-20:before { content: "\e673"; }

.icon-pintuangou:before { content: "\e636"; }

.icon-huangguan1:before { content: "\e642"; }

.icon-icon-test:before { content: "\e647"; }

.icon-icon-test1:before { content: "\e649"; }

.icon-icon-test2:before { content: "\e60d"; }

.icon-sousuo:before { content: "\e7b7"; }

.icon-wenhao-yuankuang:before { content: "\e8e9"; }

.icon-gantanhao-yuankuang:before { content: "\e8ec"; }

.icon-dianpu:before { content: "\e90e"; }

.icon-dianpu-xianxing:before { content: "\e90f"; }

.icon-yiliao1:before { content: "\e61c"; }

.icon-xinxinicon:before { content: "\e60a"; }

.icon-kefu:before { content: "\e7c2"; }

.icon-yaopin:before { content: "\e64a"; }

.icon-jitui:before { content: "\e726"; }

.icon-canju:before { content: "\e602"; }

.icon-shiwu:before { content: "\e60c"; }

.icon-gou:before { content: "\e621"; }

.icon-shengzi:before { content: "\e612"; }

