.logo {
    height: 64px;
    text-align: center;
    line-height: 54px;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #108ee9;
    overflow: hidden;
}

.ant-layout-header {
    border-bottom: 1px solid #108ee9;
}
