{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "latest",
    "stage-2",
    "stage-0",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}