.menus_cen {
    height: 0.67rem;
    display: flex;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 0.01rem solid #eee; // flex-direction: column;
    li {
        flex: 1;
        height: 0.67rem;
        padding-top: 0.05rem; // padding-left: 20px;
        text-align: center;
        i,
        span {
            display: block;
        }
        i {
            font-size: 0.32rem;
        }
        .am-button{
            i,
            span {
                line-height:.33rem;
                color:#5C4073;
            }
            span{
                line-height:.3rem;
                font-size: 0.19rem;
            }
            
        }
    }
}

.publicMenu {
    height: 0.67rem;
    // margin-top: 0.67rem;
}