.ePetTopBar{
    display: flex;
    flex-direction: column;
    width: 100%;
    .titleTop {
        height: 0.6667rem;
        background: #ffff;
        text-align: center;
        line-height: 0.6667rem;
        .titleTopLeft {
            float: left;
            font-size: 0.4rem;
        }
        h2 {
            display: inline-block;
            margin: 0 auto;
            width: 70%;
            font-weight: normal;
            font-size: 0.24rem;
        }
        
    }
    .ePetTopBar-main{
        .topBar{
            width: 100%;
            height: 5.6rem;
            margin-top: 0.1333rem;
            background: #ffff;
            padding-top: 0.4rem;
            .topBar-img{
                height: 2.8267rem;
                img{
                    display: block;
                    width: 100%;
                }
            }
            p{
                text-align: center;
                overflow: hidden;
                font-size: 0.1733rem;
                line-height: 0.6667rem;
                border-bottom: 1px solid #999;
            }
            span{
                display: inline-block;
                height: 0.5867rem;
                margin: 0.1333rem 0 0.2rem 0;
                color: #666;
                font-size: 0.2133rem;
                padding: 0 0.1333rem;
            }
            .topBar-price{
                height: 0.6667rem;
                color: #f03e3e;
                font-size: 0.2667rem;
                padding: 0 0.2667rem;
                .topBar-priceNum{
                    color: #f03e3e;
                    
                }
                .topBarBtn{
                    display: inline-block;
                    float: right;
                    width: 1.3333rem;
                    height: 0.4rem;
                    text-align: center;
                    line-height: 0.4rem;
                    background: #f03e3e;
                    color: #fff;
                    border-radius: 0.0667rem;
                    font-size: 0.1867rem;
                }
            }
        }
    }
    .ePetTopBar-foot{
        height: 0.8667rem;
        span{
            display: block;
            height: 0.3067rem;
            width: 3.2rem;
            text-align: center;
            margin: auto;
            margin-top: 0.28rem;
            color: #999;
        }
    }
}