.dogFood {
    width: 100%;
    display: flex;
    flex-direction: column;
    .banner-item-2{

    }
    .dogFoodMenu{
        background: #fff;
        >ul{
            display: flex;
            li{
                width: 25%;
            }
        }
        >.tabItems{
            padding:0 0.13rem;
            display: flex;
            flex-wrap: wrap;
            >div{
                width: 33%;
            }
        }
    }
}