.dogFood {
    width: 100%;
    display: flex;
    flex-direction: column;
    .banner-item-2 {
        height: 2rem;
        img {
            display: block;
            width: 100%;
            height: 2rem;
        }
    }
    .dogFoodMenu {
        background: #fff;
        >#tabs {
            display: flex;
            li {
                width: 25%;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        >.tabItems {
            padding: 0 0.13rem;
            display: flex;
            flex-wrap: wrap;
            >div {
                width: 33%;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}