.dogFood {
    width: 100%;
    display: flex;
    flex-direction: column; // padding-bottom: 100px;
    .banner-item-2 {
        height: 2rem;
        img {
            display: block;
            width: 100%;
            height: 2rem;
        }
    }
    .dogFoodMenu {
        background: #fff;
        >#tabs {
            display: flex;
            li {
                width: 25%;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        >.tabItems {
            padding: 0 0.13rem;
            display: flex;
            flex-wrap: wrap;
            >div {
                width: 33%;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.Activites {
    >h2 {
        height: 0.7rem;
        background: #fff;
        padding: 0.2rem 0;
        img {
            display: block;
            margin: auto;
        }
    }
    .Activite {
        .ActiviteItem {
            .ActiviteImg {
                height: 2.13rem;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                img {
                    display: block;
                    height: 2.13rem;
                }
            }
            .ActiviteGoods {
                display: flex;
                width: 100%;
                overflow-y: hidden;
                background: #fff;
                border-top: 0.02rem solid #aaaaaa;
                border-bottom: 0.01rem solid #aaa;
                flex-wrap: nowrap;
                li {
                    // flex: 30%;
                    margin-top: 0.13rem; // float: left;
                    width: 1.47rem;
                    height: 1.73rem;
                    border-right: 0.01rem solid #eee;
                    .goodImg {
                        height: 1rem;
                        width: 1.47rem;
                        img {
                            display: block;
                            height: 1rem;
                            margin: auto;
                        }
                    }
                    .goodmsg {
                        width: 100%;
                        >p {
                            padding: 0 0.13rem;
                            color: #666;
                            font-size: 0.19rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            font-size: 0.16rem;
                        }
                        span {
                            display: block;
                            color: red;
                            text-align: center;
                            height: 0.27rem;
                            line-height: 0.27rem;
                        }
                    }
                    h3,
                    span {
                        display: block;
                        width: 1.47rem;
                        text-align: center;
                        font-size: 0.18rem;
                    }
                    h3 {
                        margin-top: 0.67rem;
                    }
                }
            }
        }
    }
}

.dogfoodMenu {
    // overflow-y: hidden;
    // width: 100%;
    height: 60px;
    width: 100%;
    .dogfoodMenuUL {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        background: red;
        overflow-y: hidden;
        height: 60px;
        >li {
            // flex: 25%;
            width: 600px; // padding: 0 30px;
            height: 60px;
        }
    }
}