#index-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    .banner-item-1 {
        height: 2rem;
        img {
            display: block;
            width: 100%;
            height: 2rem;
        }
    }
    .video-img {
        height: 1.6rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .index-1-main {
        width: 100%;
        .icon-navList {
            background: #fff;
            height: 2.4667rem;
            ul {
                width: 100%;
                li {
                    display: inline-block;
                    width: 20%;
                    i {
                        img {
                            display: block;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .new-people {
            height: 1rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}