.specialist {
    display: flex;
    height: 100%;
    flex-direction: column;
    background: rgb(236, 251, 255);
    .specialist-top {
        background: #fff;
        border-bottom: 0.01rem solid #ccc;
        height: 0.67rem;
        display: flex;
        line-height: 0.67rem;
        >h2 {
            flex: 5;
            text-align: center;
            font-size: 0.24rem;
        }
        i {
            flex: 1;
            display: block;
            font-size: 0.33rem;
        }
        i:first-child {
            font-size: 0.47rem;
        }
        i:last-child {
            padding-right: 0.13rem;
            text-align: right;
        }
    }
    .specialist-bottom {
        overflow-x: hidden;
        flex: 1;
        .banner {
            height: 2.47rem;
            img {
                display: block;
                height: 2.47rem;
                width: 100%;
            }
        }
        .details {
            background: #fff;
            .details_pbmun {
                display: flex;
                padding: 0.13rem 0.67rem;
                span {
                    flex: 1;
                    display: block;
                    i {
                        margin-right: 0.07rem;
                    }
                }
            }
            .details_author {
                width: 80%;
                margin: 0 auto;
                background: rgb(252, 251, 251);
                height: 1.07rem;
                display: flex;
                border-radius: 0.13rem;
                img {
                    display: block;
                    width: 0.67rem;
                    height: 0.67rem;
                    margin: auto;
                }
                .author_info {
                    flex: 1;
                    padding: 0 0.2rem;
                    padding-top: 0.13rem;
                    p {
                        height: 0.33rem;
                        line-height: 0.33rem;
                    }
                }
            }
            .con_text {
                padding: 0.33rem; //   width: 80%;
                >p {
                    padding: 0.07rem;
                }
                >span {
                    display: block;
                    color: rgb(24, 24, 230);
                    height: 0.4rem;
                    line-height: 0.4rem;
                    padding-left: 0.13rem;
                }
                .img {
                    padding: 0 1px;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.product1 {
    display: flex;
    padding: 30px;
    background: rgb(236, 251, 255); // border-radius: 20px;
    .left {
        flex: 1.4;
        padding: 10px;
        background: #fff;
        img {
            display: block;
            width: 100%;
            height: 210px;
        }
    }
    .right {
        flex: 3;
        background: #fff;
        p {
            padding: 20px 10px;
            font-size: 36px;
        }
        span {
            display: block;
            font-size: 0.2rem;
            color: #51c62c;
            i {
                color: #999;
                text-decoration: line-through;
                font-size: 0.16rem;
            }
        }
        span:last-child {
            background: #78b300;
            width: 230px;
            height: 50px;
            line-height: 50px;
            border-radius: 25px;
            margin-top: 10px;
            color: #fff;
            text-align: center;
        }
    }
}

.col {
    background: rgb(104, 103, 196);
}

.col1 {
    background: rgb(243, 243, 243);
}

.product2 {
    display: flex;
    padding: 20px;
    background: rgb(236, 251, 255); // border-radius: 20px;
    .productItem {
        display: flex;
        flex: 1;
        flex-direction: column;
        background: #fff;
        padding: 30px 20px;
        margin: 10px;
        .left {
            flex: 2;
            padding: 10px;
            background: #fff;
            img {
                display: block; // width: 100%;
                height: 210px;
            }
        }
        .right {
            flex: 2;
            p {
                font-size: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            span {
                display: block;
                font-size: 0.2rem;
                color: #e74085;
                i {
                    color: #999;
                    text-decoration: line-through;
                    font-size: 0.16rem;
                }
            }
            span:last-child {
                background: #78b300;
                width: 230px;
                height: 50px;
                line-height: 50px;
                border-radius: 25px;
                margin-top: 10px;
                color: #fff;
                text-align: center;
            }
        }
    }
}